.features-block-5 {
    background: #e2f1f9;
    padding: 80px 0;
    font-family: "nunito", sans-serif;
}

.features-block-5 .card {
    margin: 20px 0;
}

.features-block-5 .btn {
    margin-top: 40px;
    padding: 16px 38px;
    background: #ff0000;
    border: 1px solid #ff0000;
}

.features-block-5 .btn:hover {
    background: #0370f7;
    border: 1px solid #0370f7;
}

.features-block-5 .item-text {
    padding: 40px 0;
}

.features-block-5 h2 {
    font-size: 	2.625rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.features-block-5 .subtitle {
    font-size: 1.125rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.item-text h3 {
    padding: 0 15px;
    font-size: 	1.75rem;
    margin-bottom: 15px;
    color: #fb0007;
    font-weight: 400;
}

.item-text p {
    font-size: 1.125rem;
    padding: 0 30px;
    color: #141414;
    font-weight: 300;
}